<template>
  <div>
    <nav 
      class="navbar" 
      role="navigation" 
      aria-label="main navigation">
      <div class="navbar-brand">
        <a 
          class="navbar-item" 
          href="https://bulma.io">
          <img 
            src="https://bulma.io/images/bulma-logo.png" 
            width="112" 
            height="28">
        </a>

        <a 
          :class="[{'is-active': showNav}, 'navbar-burger burger']" 
          role="button" 
          aria-label="menu" 
          aria-expanded="false" 
          data-target="navbarMenu"
          @click="toggleNav">
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
        </a>
      </div>

      <div 
        id="navbarMenu"
        :class="[{'is-active': showNav}, 'navbar-menu']">
        <div class="navbar-start" @click="toggleNav">
          <nuxt-link 
            to="/" 
            class="navbar-item">
            Home
          </nuxt-link>

          <nuxt-link 
            to="/about" 
            class="navbar-item">
            About
          </nuxt-link>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main class="fs-main">
      <div class="fs-main-container container">
        <div class="fs-content">
          <nuxt/>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showNav: false
    }
  },
  methods: {
    toggleNav: function(event) {
      this.showNav = !this.showNav
    }
  }
}
</script>
<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.navbar-menu.is-active {
  position: absolute;
  width: 100%;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
