<template>
  <div>
    <div class="fs-lead">
      <nav
        class="breadcrumb"
        aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Bulma</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Components</a></li>
          <li class="is-active">
            <a 
              href="#" 
              aria-current="page">Breadcrumb</a>
          </li>
        </ul>
      </nav>
    </div>

    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            About Us
          </h1>
          <h2 class="subtitle">
            We're a team of specialized grilling technicians tending to all BBQs.
          </h2>
        </div>
      </div>
    </section>
    <section class="fs-content section">
      <div class="columns">
        <div class="column is-two-thirds">
          <p>
            Bacon ipsum dolor amet venison picanha turducken bacon, meatloaf hamburger pork loin fatback leberkas. Chicken kevin brisket tongue, frankfurter turducken burgdoggen cow t-bone sirloin meatball. Strip steak filet mignon fatback pastrami. Porchetta shoulder fatback, prosciutto jowl buffalo cow frankfurter. Rump pork chop picanha boudin pork belly buffalo. Turducken tongue fatback ball tip ribeye pig t-bone pastrami jerky ground round shank. Leberkas prosciutto t-bone ground round ham hock rump shoulder.
          </p>
          <p>
            Jerky ball tip salami tongue shankle buffalo. Filet mignon doner hamburger spare ribs, chuck brisket pork loin. Shoulder biltong cupim flank turducken. Meatloaf capicola flank pork belly rump prosciutto kevin venison. Rump corned beef drumstick doner.
          </p>
          <p>
            Corned beef strip steak shoulder, beef jowl pancetta cupim ham pork belly landjaeger pork loin tail chuck venison. Kielbasa pancetta hamburger shankle swine cow. Landjaeger tenderloin prosciutto, pork chop boudin swine bresaola buffalo andouille burgdoggen venison meatloaf meatball. Ground round pancetta pork belly turducken.
          </p>
        </div>
        <div class="column">
          <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a>Dashboard</a></li>
              <li><a>Customers</a></li>
            </ul>
            <p class="menu-label">
              Administration
            </p>
            <ul class="menu-list">
              <li><a>Team Settings</a></li>
              <li>
                <a class="is-active">Manage Your Team</a>
                <ul>
                  <li><a>Members</a></li>
                  <li><a>Plugins</a></li>
                  <li><a>Add a member</a></li>
                </ul>
              </li>
              <li><a>Invitations</a></li>
              <li><a>Cloud Storage Environment Settings</a></li>
              <li><a>Authentication</a></li>
            </ul>
            <p class="menu-label">
              Transactions
            </p>
            <ul class="menu-list">
              <li><a>Payments</a></li>
              <li><a>Transfers</a></li>
              <li><a>Balance</a></li>
            </ul>
          </aside>            
        </div>
      </div>
    </section>
  </div>
</template>